# OnChord ML Service Environment Variables

# Last.fm API key (free at https://www.last.fm/api/account/create)
# Used for looking up genres of artists not in our local database
LASTFM_API_KEY=63581adec3b030539c01dd391b1edcbd
